@import url('https://fonts.cdnfonts.com/css/copperplate');
@import url('https://fonts.cdnfonts.com/css/baskerville');
* {
    padding: 0;
    margin: 0;
    line-height: 30px;
    box-sizing: border-box;
}
img,
video,
svg{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'menu header '
    'menu main  '
    'menu footer  ';
    @media only screen and (max-width: 600px) {
        grid-template-areas:
        'header'
        'main' 
        'menu'
        'footer';
    }
}
/* .grid-bilder{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: 
    'bilde1 bilde2 bilde3'
    'bilde4 bilde5 bilde6'
    'bilde7 bilde8 bilde9' ;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    justify-content: space-around;
    
}
.grid-bilder > * {
    border-radius: 12px;
} */
.grid-bilder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
/* .grid-bilder > * {
    border-radius: 12px;
} */
.grid-bilder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.grid-bilder .stort {
    grid-row: span 2;
    grid-column: span 2;
}
.grid-instabilder{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    grid-template-areas: 
    'insta1 insta2 insta3 insta4';
    gap: 1.5rem;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}
.grid-instabilder div img {
    border-radius: 12px;
}
.knapp {
    display: flex;
    justify-content: center;
}
.header { grid-area: header; 
    background-color: rgb(244, 244, 244); 
}
.menu { grid-area: menu; 
    background-color:rgb(58, 58, 58) ;
    padding: 2rem;
    text-align: left;
    @media only screen and (max-width: 600px) {
       display: flex;
       flex-direction: column;
    }
}
.main { grid-area: main; 
    background-color:  rgb(244, 244, 244);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.footer { grid-area: footer; 
    display: flex;
    background-color:rgb(58, 58, 58) ;
    padding: 1rem;
    text-align: center;
    justify-content: space-evenly;
}
h1,
h2,
h3{
    color: black;
    font-family: 'Copperplate', sans-serif;
}
h4,
h5,
h6{
    color: aliceblue;
    font-family: 'Copperplate', sans-serif;
}
h1{
    margin-left: 135px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: #00334e;
    text-decoration-thickness: 5px;
}
h2{
    text-align: center;
    padding: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #8cb9de;
    text-decoration-thickness: 2px;
    font-size:x-large;
}
h3 {
    text-decoration: underline;
    text-decoration-color: #145374;
    text-decoration-thickness: 1px;
}
h5{
    font-size: smaller;
}
h6{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    margin: 1rem;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Baskerville', sans-serif;
    text-align: left;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 2rem;
    font-size: large;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #f0f8ff;
}
ul {
    font-weight: 400;
}
li {
    margin-left: 20px;
}
button {
    border: 2px solid #8cb9de;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(244, 244, 244); 
    color: black; 
    font-size: medium;
}
button:hover {
    background-color: #8cb9de;
}
.slider_container {
    position: relative;
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(244, 244, 244);
    margin-inline: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 15s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
  }
  .slideone,
  .slidetwo,
  .slidethree,
  .slidefour {
    position: relative;
    min-width: 100%;
    height: 100%;
  }
  .slideone img,
  .slidetwo img,
  .slidethree img,
  .slidefour img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
.container3,
.container4,
.container5,
.container6,
.container7 {
    position: relative;
}  
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7 {
    position: absolute; 
    width: 100%;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    bottom: 0rem; 
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px; 
    text-align: center;
}
.container3:hover .overlay3,
.container4:hover .overlay4 ,
.container5:hover .overlay5 ,
.container6:hover .overlay6 ,
.container7:hover .overlay7  {
    opacity: 1;
}
.insta1,
.insta2,
.insta3,
.insta4{
    max-width: 300px;
    max-height: 500px;
} 
.fotopakke{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 3rem;
    justify-content: space-evenly;
    transition: .5s ease;
}
.fotopakke:hover{
    background-color: rgb(140, 185, 222);
    border-radius: 12px;
}
.fotopakke img{
    max-height: 300px;
    border-radius: 12px;
}
.fotopakke div{
    max-width: 500px;
    min-width: 300px;
    line-height: 200%;
}
.fotopakke-undertekst {
    padding-left: 100px;
}
.betaling {
    padding-left: 90px;
    padding-right: 90px;
}  
.overlay2 {
    position: absolute; 
    width: 66%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    bottom: 30px;
    background: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.5);
    color: #f1f1f1; 
    opacity: 0;
    transition: .5s;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
  }
.forsidebilde2{
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 2rem;
}
.forsidebilde2:hover .overlay2 {
    opacity: 1;
}
.forsidebilde2 img {
    border-radius: 12px;
}
.navn{
    display: flex;
    padding-top: 1rem;
    justify-content: space-evenly;
    flex-direction: row;
}
.epost{
    display: flex;
    padding-left: 20.55rem;
    padding-top: 2rem;
}
.valg{
    display: flex;
    padding-left: 20.55rem;
    padding-top: 2rem;
    flex-direction: column;
}
.melding{
    display: flex;
    padding-left: 20.55rem;
    padding-top: 2rem;
}
.tekstboks {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #8cb9de;
}
.lenkebilder{
    display: grid;
    grid-template-areas: 
    'container'
    'container'
    'container'
    'container'
    'container';
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.lenkebilder img {
    border-radius: 12px;
}
.container {
    position: relative;
  }
  
  .image {
    display: block;
    width: 900px;
    margin-inline: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 900px;
    opacity: 0;
    transition: .2s ease;
    background-color: black;
    border-radius: 12px;
    margin-inline: auto;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Copperplate', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}
dialog { 
    position: relative; 
    margin: auto; 
    width: 1200px; 
    height: 800px;
    border: 5px solid #145374;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);  
} 
dialog::backdrop { 
    background-color: Black; 
    opacity: 0.4; 
} 