@import url('https://fonts.cdnfonts.com/css/copperplate');
* {
    padding: 0;
    margin: 0;
    line-height: 2rem;
    box-sizing: border-box;
}
img,
video,
svg{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'menu header '
    'menu main  '
    'menu footer  ';
}
.grid-bilder{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: 
    'bilde1 bilde2 bilde3'
    'bilde4 bilde5 bilde6'
    'bilde7 bilde8 bilde9' ;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    justify-content: space-around;
}
.grid-instabilder{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'insta1 insta2'
    'instatekst instatekst';
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.header { grid-area: header; 
    background-color: rgb(217, 217, 217); 
    padding: 2rem;      
}
.menu { grid-area: menu; 
    background-color:rgb(73, 73, 73) ;
    padding: 2rem;
    text-align: left;
}
.main { grid-area: main; 
    background-color:  rgb(217, 217, 217);
    padding: 2rem;
}
.footer { grid-area: footer; 
    display: flex;
    background-color:rgb(73, 73, 73) ;
    padding: 1rem;
    text-align: center;
    justify-content: space-evenly;
}
h1,
h2,
h3{
    color: black;
    font-family: 'Copperplate', sans-serif;
}
h4,
h5,
h6{
    color: aliceblue;
    font-family: 'Copperplate', sans-serif;
}
h1{
    padding: 2rem;
}
h2{
    text-align: center;
    padding: 1.5rem;
}
h5{
    font-size: smaller;
}
h6{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    margin: 1rem;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.forsidebilde{
    display: flex;
    height: 500px;
    justify-content: center;
}
.forsidebilde2{
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 2rem;
}
.insta1{
    max-width: 300px;
    max-height: 500px;
}
.insta2{
    max-width: 300px;
    max-height: 500px;   
}
.fotopakke{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5rem;
    justify-content: space-between;
}
.fotopakke img{
    max-height: 300px;
}
.fotopakke div{
    max-width: 500px;
    min-width: 300px;
    line-height: 200%;
}
.navn{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.epost{
    display: flex;
    padding-left: 20.55rem;
    padding-top: 2rem;
}
.valg{
    display: flex;
    padding-left: 20.55rem;
    padding-top: 2rem;
    flex-direction: column;
}
.melding{
    display: flex;
    padding-left: 20.55rem;
    padding-top: 2rem;
}
.lenkebilder{
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 2rem;
}