img,
video,
svg{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    border-radius: 12px;
}
.lenkebilder{
    display: grid;
    grid-template-areas: 
    'container'
    'container'
    'container'
    'container'
    'container';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 2rem;
    padding: 2rem;
}
.container {
    position: relative;
    width: 800px;
    margin-inline: auto;
  }
  
  .image {
    display: block;
    width: 800px;
    height: 500px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 12px;
  }
  
  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Copperplate', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}