*, 
*::before, 
*::after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font: inherit; 
}
.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'menu header '
    'menu main  '
    'menu footer  ';
    @media only screen and (max-width: 600px) {
        grid-template-areas:
        'header'
        'main' 
        'menu'
        'footer';
    }
}.header { grid-area: header; 
    background-color: rgb(244, 244, 244); 
}
.menu { grid-area: menu; 
    background-color:rgb(58, 58, 58) ;
    padding: 2rem;
    text-align: left;
    @media only screen and (max-width: 600px) {
       display: flex;
       flex-direction: column;
    }
}
.main { grid-area: main; 
    background-color:  rgb(244, 244, 244);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.footer { grid-area: footer; 
    display: flex;
    background-color:rgb(58, 58, 58) ;
    padding: 1rem;
    text-align: center;
    justify-content: space-evenly;
}
h1,
h2,
h3{
    color: black;
    font-family: 'Copperplate', sans-serif;
}
h4,
h5,
h6{
    color: aliceblue;
    font-family: 'Copperplate', sans-serif;
}
h1{
    margin-left: 135px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: #00334e;
    text-decoration-thickness: 5px;
}
h2{
    text-align: center;
    padding: 1.5rem;
    text-decoration: underline;
    text-decoration-color: #8cb9de;
    text-decoration-thickness: 2px;
    font-size:x-large;
}
h3 {
    text-decoration: underline;
    text-decoration-color: #145374;
    text-decoration-thickness: 1px;
}
h5{
    font-size: smaller;
}
h6{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    margin: 1rem;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Baskerville', sans-serif;
    text-align: left;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 2rem;
    font-size: large;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #f0f8ff;
}
ul {
    font-weight: 400;
}
li {
    margin-left: 20px;
}
button {
    border: 2px solid #8cb9de;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(244, 244, 244); 
    color: black; 
    font-size: medium;
}
button:hover {
    background-color: #8cb9de;
}
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
dialog { 
    position: relative; 
    margin: auto; 
    width: 1200px; 
    height: 800px;
    border: 5px solid #145374;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);  
} 
dialog::backdrop { 
    background-color: Black; 
    opacity: 0.4; 
} 
.grid-bilder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
.grid-bilder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.grid-bilder .stort {
    grid-row: span 2;
    grid-column: span 2;
}